/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	width: 33.33%;
	
  }
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
	align-items: center;

  }

  .title{
	  width: 100%;
	  text-align: center;
	  font-size: 5em;
	  margin-top: 5em;
	  margin-bottom: 1em;
  }

div,a,img {
	text-align:center
}