.watsapp-button{
	position: fixed;
	top: 50%;	
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

.watsapp-button img {
	width: 100px;
}

.facebook-button{
	position: fixed;
	top: 50%;	
	left: 50%;
	margin-top: -75px;
	margin-left: -350px;
}

.facebook-button img {
	width: 150px;
}


.telegram-button{
	position: fixed;
	top: 50%;	
	left: 50%;
	margin-top: -50px;
	margin-left: 120px;
}

.telegram-button img {
	width: 100px;
}

